.footer-header{
    width: 100%;
    height: 60px;
    background-color: #114C36;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.footer-header-item{
    color: white;
    font-size: 1.2rem;
}
.footer-container{
    background-color: #fafafa;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-section-left{
    width: 60%;
}
.footer-section-right{
    width: 40%;
}
.footer-section{
    display: flex;
    justify-content: space-around;
    color: #114c36
}
.footer-section-column{
    font-size: 14px;
    font-weight: 300;
}
.footer-section-column-head{
    font-weight: 400;
}
.follow-us-container{
    margin-top: 25px;
}
.social-icons{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.footer-bottom{
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
    font-weight: 300;
}